.home-banner {
    width: 1440px;
    height: 810px;
    position: relative;
    z-index: 1;
}

.home-banner-movie-small {
    display: none;
}

.home-banner-large {
    display: none;
}

.home-banner::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 108px;
    left: 1279px;
    top: 702px;
    background: #00CAE1;
}

.home-banner::after {
    content: 'Watch more';
    position: absolute;
    width: 120px;
    height: 24px;
    left: 1222px;
    top: 621px;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 24px;
    color: #00CAE1;
    transform: rotate(-90deg);
}

.home-banner-small {
    display: none;
}

@media all and (max-width: 1460px) {
    .home-banner {
        width: 100%;
        max-width: 414px;
        height: 100%;
        overflow: hidden;
        position: relative;
    }

    .home-banner-movie {
       display: none;
    }

    .home-banner-movie-small {
        display: block;
    }

    .home-banner-large {
        display: none;
    }

    .home-banner-small {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
    
    .home-banner-small {
        display: none !important;
    }

    .home-banner::before {
        left: 95%;
        top: 615px;
    }

    .home-banner::after {
        left: 80%;
        top: 530px;
    }
}

@media all and (max-width: 376px) {

    .home-banner::after {
        left: 78%;
        top: 550px;
    }

    .home-banner::after {
        left: 80%;
        top: 470px;
    }

}