.volumetric__wrapper {
    margin-top: 200px;
    margin-left: 50px;
    display: flex;
    max-width: 1440px;
    max-height: 724px;
    position: relative;
    box-sizing: border-box;
}

canvas{
    width: 200px;
}

