.header {
    position: absolute;
    width: 1440px;
    z-index: 2;
}

.header__row {
    display: flex;
    justify-content: space-between;
    padding-left: 160px;
    padding-right: 160px;
    padding-top: 40px;
}

.header__logo img {
    position: relative;
}

.left-shift {
    right: 50px;
}

.nav__nav-link {
    font-size: 19px;
    font-weight: 500;
    padding-left: 12px;
    padding-right: 12px;
}