.pipeline {
    color: white;
    width: 1440px;
    min-height: 724px;
    background: linear-gradient(255.81deg, #010F12 0%, #06262D 100%);
    position: relative;
    overflow: hidden;
}

.pipeline__shell {
    display: flex;
    justify-content: center;
}

.pipeline__shell:before {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    left: 897px;
    top: 0px;
    background:  rgba(255, 255, 255, .25);
    z-index: 0;
}

.pipeline__shell::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    left: 922px;
    top: 0px;
    background:  rgba(255, 255, 255, .25);
    z-index: 0;
}

.pipeline__layer {
    width: 1120px;
    min-height: 724px;
    display: flex;
    flex-direction: column;
    border-left: 1px solid rgba(255, 255, 255, .25);
    border-right: 1px solid rgba(255, 255, 255, .25);
}

.pipeline__layer:before {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    left: 515px;
    top: 0px;
    background:  rgba(255, 255, 255, .25);
    z-index: 0;
}

.pipeline__layer::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    left: 540px;
    top: 0px;
    background:  rgba(255, 255, 255, .25);
    z-index: 0;
}

.pipeline__title {
    font-size: 72px;
    font-weight: 600;
    margin-top: 100px;
    color: #00CAE1;
}

.pipeline__title:before {
    content: '';
    position: absolute;
    width: 1440px;
    height: 1px;
    left: 0px;
    top: 215px;
    background:  rgba(255, 255, 255, .25);
    z-index: 0;
}

.pipeline__title::after {
    content: '';
    position: absolute;
    width: 1440px;
    height: 1px;
    left: 0px;
    top: 412px;
    background:  rgba(255, 255, 255, .25);
    z-index: 0;
}

.pipeline__main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.pipeline__main::before {
    content: '';
    position: absolute;
    width: 1440px;
    height: 1px;
    left: 0px;
    top: 437px;
    background:  rgba(255, 255, 255, .25);
    z-index: 0;
}

.pipeline__main::after {
    content: '';
    position: absolute;
    width: 1440px;
    height: 1px;
    left: 0px;
    top: 634px;
    background:  rgba(255, 255, 255, .25);
    z-index: 0;
}

.pipeline__item {
    width: 357px;
    height: 198px;
    background: radial-gradient(91.6% 297.77% at 91.6% 18.69%, #093139 0.14%, #06262D 100%);
    box-shadow: 0px 4px 8px rgba(1, 18, 21, 0.1);
    border-radius: 8px;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    line-height: 30px;
    color: #00CAE1;
    position: relative;
    z-index: 2;
}

.pipeline__item:nth-child(3n+2) {
    margin-left: 24px;
    margin-right: 24px;
}

.pipeline__item-caption {
    font-size: 24px;
    font-weight: 700;
    padding-left: 25px;
    padding-top: 25px;
    padding-right: 30px;
}

.pipeline__item-description {
    font-size: 24px;
    font-weight: 500;
    padding-left: 25px;
    padding-right: 30px;
}

.pipeline__item-number {
    position: absolute;
    top: 10px;
    right: 14px;
    font-size: 48px;
    line-height: 60px;
    text-shadow: 0px 0px 48px rgba(44, 233, 255, 0.25);
}

.pipeline__bottom-image img {
    position: absolute;
    bottom: 0;
    left: 0;
}

.pipeline__logo {
    position: absolute;
    right: 160px;
    top: 75px;
    z-index: 1;
}

@media all and (max-width: 1460px) {
    .pipeline {
        width: 100%;
        max-width: 414px;
        height: 1100px;
    }

    .pipeline__shell {
        width: 100%;
        height: 1100px;
    }

    .pipeline__shell::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0px;
        top: 686px;
        background:  rgba(255, 255, 255, .25);
        z-index: 0;
    }

    .pipeline__shell::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0px;
        top: 850px;
        background:  rgba(255, 255, 255, .25);
        z-index: 0;
    }

    .pipeline__layer {
        border: 0;
    }

    .pipeline__layer::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0px;
        top: 500px;
        background:  rgba(255, 255, 255, .25);
        z-index: 0;
    }

    .pipeline__layer::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0px;
        top: 666px;
        background:  rgba(255, 255, 255, .25);
        z-index: 0;
    }

    .pipeline__title {
        margin-top: 56px;
        font-size: 48px;
        line-height: 60px;
        margin-left: 16px;
    }

    .pipeline__title::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0px;
        top: 133px;
        background:  rgba(255, 255, 255, .25);
        z-index: 0;
    }

    .pipeline__title::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0px;
        top: 298px;
        background:  rgba(255, 255, 255, .25);
        z-index: 0;
    }

    .pipeline__main {
        flex-direction: column;
        align-items: center;
        margin-top: 0;
        margin-left: 0;
        width: 100%;
    }

    .pipeline__main::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0px;
        top: 317px;
        background:  rgba(255, 255, 255, .25);
        z-index: 0;
    }

    .pipeline__main::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0px;
        top: 482px;
        background:  rgba(255, 255, 255, .25);
        z-index: 0;
    }

    .pipeline__item:nth-child(3n+2) {
        margin-left: 0px;
        margin-right: 0px;
    }

    div.pipeline__item {
        height: 168px;
        margin-top: 16px;
        width: 92.5%;
        margin-left: 0px;
        margin-right: 0px;
    }

    .pipeline__item4::before {
        content: '';
        position: absolute;
        width: 1px;
        height: 1100px;
        left: 0px;
        top: -686px;
        background:  rgba(255, 255, 255, .15);
        z-index: 0;
    }

    .pipeline__item4::after {
        content: '';
        position: absolute;
        width: 1px;
        height: 1100px;
        right: 0px;
        top: -686px;
        background:  rgba(255, 255, 255, .15);
        z-index: 0;
    }

    .pipeline__item5::before {
        content: '';
        position: absolute;
        width: 454px;
        height: 1px;
        left: -20px;
        top: 0px;
        background:  rgba(255, 255, 255, .15);
        z-index: 0;
    }

    .pipeline__item5::after {
        content: '';
        position: absolute;
        width: 454px;
        height: 1px;
        left: -20px;
        bottom: 0px;
        background:  rgba(255, 255, 255, .15);
        z-index: 0;
    }

    .pipeline__item-caption {
        font-size: 19px;
        font-weight: 700;
        padding-right: 130px;
    }

    .pipeline__item-description {
        font-size: 19px;
        font-weight: 500;
        padding-right: 70px;
    }

    .pipeline__bottom-image {
        display: none;
    }

}
