.work {
    color: white;
    width: 1440px;
    min-height: 724px;
    background: linear-gradient(224.68deg, #00CAE1 0%, #00A8BB 100%);
    box-shadow: 0px 0px 48px rgba(44, 233, 255, 0.25);
    position: relative;
    overflow: hidden;
}

.work__shell {
    display: flex;
    justify-content: center;
}

.work__shell:before {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    left: 897px;
    top: 0px;
    background:  rgba(255, 255, 255, .25);
    z-index: 0;
}

.work__shell::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    left: 922px;
    top: 0px;
    background:  rgba(255, 255, 255, .25);
    z-index: 0;
}

.work__layer {
    width: 1120px;
    min-height: 724px;
    display: flex;
    flex-direction: column;
    border-left: 1px solid rgba(255, 255, 255, .25);
    border-right: 1px solid rgba(255, 255, 255, .25);
}

.work__layer:before {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    left: 515px;
    top: 0px;
    background:  rgba(255, 255, 255, .25);
    z-index: 0;
}

.work__layer::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    left: 540px;
    top: 0px;
    background:  rgba(255, 255, 255, .25);
    z-index: 0;
}

.work__title {
    font-size: 72px;
    font-weight: 600;
    margin-top: 100px;
}

.work__title:before {
    content: '';
    position: absolute;
    width: 1440px;
    height: 1px;
    left: 0px;
    top: 210px;
    background:  rgba(255, 255, 255, .25);
    z-index: 0;
}

.work__title::after {
    content: '';
    position: absolute;
    width: 1440px;
    height: 1px;
    left: 0px;
    top: 420px;
    background:  rgba(255, 255, 255, .25);
    z-index: 0;
}

.work__videos {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.work__videos-item {
    width: 358px;
    height: 210px;
    position: relative;
    margin-top: 40px;
    z-index: 2;
}

.work__videos-item:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.work__videos-item:nth-child(3n+2) {
    margin-left: 23px;
    margin-right: 23px;
}

.videos-item-caption {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 2;
}

.videos-item-content {
    width: 358px;
    height: 210px;
    filter: drop-shadow(0px 4px 8px rgba(1, 18, 21, 0.1));
    border-radius: 8px;
    cursor: pointer;
}

.work__button {
    align-self: center;
    margin-top: 40px;
    margin-bottom: 40px;
    z-index: 2;
}

.work__logo {
    position: absolute;
    right: 160px;
    top: 75px;
    z-index: 1;
}

.work__sidebar {
    position: absolute;
    top: 85px;
    right: 41px;
    width: 148px;
    height: 148px;
    font-size: 19px;
}

.work__sidebar ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.work__sidebar-item {
    position: relative;
    height: 20px;
}

.work__sidebar-item::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    left: -30px;
    background: transparent;
    border: 1px solid white;
}

.sidebar-item_active::after {
    content: '';
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    left: -30px;
    bottom: -4px;
    background:  white;
}

.sidebar-item__caption {
    display: none;
}

.sidebar-item_active .sidebar-item__caption {
    display: block;
    padding-left: 10px;
}

@media all and (max-width: 1460px) {
    .work {
        width: 100%;
        max-width: 414px;
    }

    .work__shell:before {
        width: 100%;
        height: 1px;
        top: 400px;
        left: 0;
    }

    .work__shell::after {
        width: 100%;
        height: 1px;
        top: 590px;
        left: 0;
    }

    .work__layer {
        width: 100%;
        margin-left: 17px;
        margin-right: 19px;
    }

    .work__title {
        font-size: 48px;
        font-weight: 600;
        line-height: 60px;
        padding-right: 40px;
        margin-top: 56px;
    }

    .work__title::before {
        width: 100%;
        top: 192px;
    }

    .work__title::after {
        width: 100%;
        top: 383px;
    }

    .work__videos {
        flex-direction: column;
        align-items: center;
    }

    .work__videos::before {
        content: '';
        position: absolute;
        background:  rgba(255, 255, 255, .25);
        z-index: 0;
        width: 100%;
        height: 1px;
        top: 608px;
        left: 0;
    }

    .work__videos::after {
        content: '';
        position: absolute;
        background:  rgba(255, 255, 255, .25);
        z-index: 0;
        width: 100%;
        height: 1px;
        top: 799px;
        left: 0;
    }

    #work__videos-item {
        width: 328px;
        height: 192px;
        margin-top: 16px;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .work__logo {
        top: 27px;
        left: 70px;
    }

    .work__logo img {
        width: 230px;
        height: 290px;
    }

    .videos-item-content {
        width: 328px;
        height: 192px;
    }

    .work__sidebar {
        display: none;
    }
}